{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2>{{title}}</h2>
    
    <div class="container mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Statuses</th>
          </tr>
        </thead>
        <tbody>
          {% for status in statuses %}
            <tr>
              <td>
                {{status.name}}
                <div style="float: right;">
                  <a href="{% url 'manager:configuration_delete' status.id config_status_value %}">
                    <span class="badge text-bg-danger rounded-pill">Delete</span>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %}
          
                {{ status_form.name}}
          
                <button type="submit" class="badge text-bg-primary rounded-pill" name="status_form" style="float: right;">Save</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Priorities</th>
          </tr>
        </thead>
        <tbody>
          {% for priority in priorities %}
            <tr>
              <td>
                {{priority.name}}
                <div style="float: right;">
                  <a href="{% url 'manager:configuration_delete' priority.id config_priority_value %}">
                    <span class="badge text-bg-danger rounded-pill">Delete</span>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %}
          
                {{ priority_form.name}}
          
                <button type="submit" class="badge text-bg-primary rounded-pill" name="priority_form" style="float: right;">Save</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    

    <div class="container mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          {% for tag in tags %}
            <tr>
              <td>
                {{tag.name}}
                <div style="float: right;">
                  <a href="{% url 'manager:configuration_delete' tag.id config_tag_value %}">
                    <span class="badge text-bg-danger rounded-pill">Delete</span>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %}
          
                {{ tag_form.name}}
          
                <button type="submit" class="badge text-bg-primary rounded-pill" name="tag_form" style="float: right;">Save</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

</div>

{% endblock %}