<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Task Manager - Log In</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-container">
          <h2>Log In</h2>
          <form method="post" action=".">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label><br>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Password</label><br>
                {{ form.password }}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Log In</button>
            </div>
          </form>
          <p class="text-center">Don't have an account? <a href="{% url 'manager:signup' %}">Sign Up</a></p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
